.contact {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100svh;
}

.container-contacts {
  display: flex;
  width: 100%;
  min-height: 98svh;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px;
}

.icon-send {
  display: flex;
  align-items: center;
  height: 25px;
  gap: 5px;
  padding: 3px 3px 0 0;
}

.container-contact-options {
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 30vh;
}

.contact-email,
.contact-whatsapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 47%;
  height: 90%;
  padding: 5px;
  border-radius: 8px;
}

.contact-email>a,
.contact-whatsapp>a {
  text-decoration: none;
  font-size: var(--font-size-sm);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container-contact-form {
  margin: 0 auto;
  border-radius: 8px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.container-contact-form>h5 {
  margin: 20px auto 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

form>input {
  height: 30px;
  font-size: 15px;
}

form>textarea {
  font-size: 15px;
}

form>input,
form>textarea {
  width: 90%;
  margin: 0 auto;
  padding: 5px;
  background-color: transparent;
  border: none;
}

.submit-button {
  background: transparent;
  padding: 5px 10px;
  margin: 0 auto;
  border: 1px solid #0ec18580;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  width: 190px;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: var(--font-size-base);
  opacity: .8;
}

.send-message {
  display: flex;
  width: 90%;
  height: 40px;
  font-size: 13px;
  padding: 3px;
}

@media (577px <=width < 768px) {
  .container-contact-options {
    margin: 0 auto;
  }
}

@media (768px <=width < 992px) {
  .container-contact-options {
    margin: 20px auto 0;
  }
}

@media (992px <=width < 1200px) {
  .container-contact-options {
    margin: 30px auto 0;
  }
}

@media (1200px <=width < 1400px) {
  .container-contact-options {
    margin: 40px auto 0;
  }
}

@media (width >=1400px) {

  .container-contact-options {
    margin: 50px auto 0;
  }

  .container-contact-form {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 40px;

    input {
      margin-bottom: 20px;
    }
  }

  .contact-email>a,
  .contact-whatsapp>a {
    height: 35px;
    line-height: 1;
    font-size: 23px;
    width: 80%;
    padding: 4px;
  }

  .icon-send {
    font-size: 25px;
  }

  form {
    min-height: 30vw;
  }

  form>input {
    height: 50px;
  }

  #name,
  #email {
    padding: 0 50px;
    font-size: 20px;
    background-position: 0px 17px;
  }

  #message {
    padding: 0 50px;
    font-size: 20px;
    background-position: 0px 2px;
  }
}