.contact {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100svh;
}

.container-contacts {
  /* border: 1px solid red; */

  display: flex;
  width: 100%;
  min-height: 98svh;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px;
}

.container-contact-options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 30vh;
}

.contact-email,
.contact-whatsapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 45%;
  height: 90%;
  padding: 5px;
  border-radius: 8px;
}

.contact-email>a,
.contact-whatsapp>a {
  text-decoration: none;
  font-size: var(--font-size-sm);
}

.container-contact-form {
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  width: 90%;
  min-height: 50vh;
}

.container-contact-form>h5 {
  margin: 5px auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px
}

#name {
  background-size: 25px;
  background-image: url('../assets/pen.png');
  background-position: 0px 2px;
  background-repeat: no-repeat;
  color: aliceblue;
  padding-left: 25px;
}

#email {
  background-size: 23px;
  background-image: url('../assets/arroba.png');
  background-position: 0px 2px;
  background-repeat: no-repeat;
  color: aliceblue;
  padding-left: 25px;
}

#message {
  background-size: 23px;
  background-image: url('../assets/message.png');
  background-position: 0px 2px;
  background-repeat: no-repeat;
  color: aliceblue;
  padding-left: 25px;
}

form>input {
  height: 30px;

}

form>input,
form>textarea {
  width: 90%;
  margin: 0 auto;
  padding: 5px;
  background-color: transparent;
  border: none;
  /* border-bottom: 2px solid red; */
}

.submit-button {
  background: transparent;
  padding: 5px 10px;
  margin: 0 auto;
  border: 1px solid #0ec18580;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  width: 190px;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: var(--font-size-base);
  opacity: .8;
}


@media (width >=1400px) {
  .container-contact-form {
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: 50vh;

    gap: 40px;

    input {
      margin-bottom: 20px;
    }
  }
}