footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 20svh;
}

footer>span {
  display: flex;
  align-items: center;
}

footer>span>a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

footer>span>span {
  margin-left: 5px;
  display: flex;
}