.projects {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 99svh;
  /* border: 1px solid violet; */
}

.container-projects {
  display: flex;
  width: 100%;
  min-height: 98svh;
  justify-content: flex-start;
  flex-direction: column;
  padding: 5px;
}

.projects-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 50px 10px 10px 10px;
  gap: 30px;
}