@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.layout {
  margin: 0 auto;
  padding: 10px 0 60px 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  /* min-height: 100svh; */
  min-width: 375px;
  font-size: var(--font-size-base);
  gap: 20px;
}

/*! -------------------------------DARK-------------------------------------- */
.dark {
  min-width: 375px;
  background-image: url('./assets/noise-transparent.png');
  background-color: rgba(0, 0, 0, 0.98);
  color: aliceblue;

  .layout {
    background-color: rgba(240, 248, 255, .01);
    border-radius: 20px;
  }

  .icon-containers:hover {
    color: #0ec185;
  }

  .text-color {
    color: #0ec185;
    font-size: var(--font-size-xxl);

  }

  .text-color2 {
    color: #f8a221;
  }

  .download-btn {
    color: aliceblue;
  }

  .download-btn:visited {
    color: aliceblue;
  }

  .download-btn:hover {
    background-color: #0ec185;
    color: black;
  }

  .container-image>img {
    filter: drop-shadow(10px 30px 15px #0f5b429a)
  }
}

/*? -----------------------------------LIGHT------------------------------------------- */
.light {
  min-width: 375px;
  background-image: url('./assets/noise-transparent.png');
  background-color: rgba(255, 255, 255, 0.98);
  color: black;

  .layout {
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 20px;
  }

  .icon-containers:hover {
    color: #0ec185;
  }

  .text-color {
    color: #0ec185;
    font-size: var(--font-size-xxl);

  }

  .text-color2 {
    color: #f8a221;
  }

  .download-btn {
    color: rgb(3, 3, 3);
  }

  .download-btn:visited {
    color: black;
  }

  .download-btn:hover {
    background-color: #0ec185;

  }

  .container-image>img {
    filter: drop-shadow(10px 30px 15px #128f659a)
  }
}



/** ---------------MEDIAQUERIES--------------------------------------- */
@media (577px <=width < 768px) {
  .layout {
    width: 90vw;
    font-size: var(--font-size-base);
  }
}

@media (768px <=width < 992px) {
  .layout {
    width: 80vw;
  }
}

@media (992px <=width < 1200px) {
  .layout {
    width: 80vw;
  }
}

@media (1200px <=width < 1400px) {
  .layout {
    width: 70vw;
  }
}

@media (width >=1400px) {
  .dark {

    .layout {
      width: 60vw;
      font-size: var(--font-size-xl);
    }

    .text-color {
      font-size: clamp(30px, 13rem, 90px);
    }

  }

  .light {

    .layout {
      width: 50vw;
      font-size: var(--font-size-xl);
    }

    .text-color {
      font-size: clamp(30px, 13rem, 90px);
    }
  }
}